page-about {
     .about{
       line-height: 1.5;
	 color:$main_point_color;
    font-size: 12pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }

}
