page-medical{
      .appContent {
        margin-left: 5%;
        padding: 30px;
        margin-top:15%;
        width:90%;
        height: auto;
        padding:0;
        background-color: white;
        border:gray solid 2px;

    }
    .buttons{
        border-radius: 20px;
    }
   
    
}