page-profile{
    section{
        background-color: lightgray;
        .gray{
            background-color: lightgray;
            padding:0;
            margin:0;
            .aLabel{
                color:black;
                font-style:bold;
            }
            .ionInput{
                border:none;
                margin:0;
                padding:0;
                color:darkred;
            }
            
        }
    }
}