page-enzymedetails{
  .detailedItems{
    border:1px solid blue;
    margin:2%;
    width:95%;
    border-radius:5px;
    box-shadow: 3px 3px 3px 3px #777;
    background-color: lightgoldenrodyellow;
  }
  ion-item-options{
    background-color: lightgray;
  }
  .gray{
    background-color: lightgray;
  }
  .AddButton{
    border-radius:100px;
    width:20%;
    height:70px;
    box-shadow: 3px 3px 3px 3px #777;
    position:absolute;
    right:10%;
    bottom:20%;
    margin-bottom: 10%;
	font-size:25pt;
  }
}